$COLORS-DARKEST: red
$COLORS-DARKER: #ff2900
$COLORS-LIGHTER: tomato
$COLORS-LIGHTEST: #ff9000
$COLORS-GRAYSCALE-0: #111
$COLORS-GRAYSCALE-1: #333
$COLORS-GRAYSCALE-2: white
  
* 
  margin: 0
  padding: 0
  box-sizing: border-box

#root 
  overflow: hidden

.body
  margin: 1rem

li 
  list-style: none

a 
  text-decoration: none

ul, form
  display: flex
  align-items: center
  justify-content: center
  gap: 1rem

form
  flex-direction: column

button 
  background-color: $COLORS-GRAYSCALE-1
  color: $COLORS-GRAYSCALE-2
  padding: .4rem .95rem
  border: none
  margin: 0 .25rem
  cursor: pointer
  border-radius: 8px
  outline: none

button:hover, button:focus 
  background-color: $COLORS-DARKER

button:active
  background-color: $COLORS-DARKEST

input
  height: 1.75rem
  margin: 0 .5rem
  width: 12rem
  padding: 4px
  border-radius: 6px

.error, .success
  font-weight: bold

.error
  color: red

.success
  color: green

.prompt
  margin: .5rem 0 1.2rem 0