$COLORS-DARKEST: red
$COLORS-DARKER: #ff2900
$COLORS-LIGHTER: tomato
$COLORS-LIGHTEST: #ff9000
$COLORS-GRAYSCALE-0: #111
$COLORS-GRAYSCALE-1: #333
$COLORS-GRAYSCALE-2: white
  
* 
  margin: 0
  padding: 0
  box-sizing: border-box

#root
  height: 0

.body
  margin: 1rem
  position: relative
  z-index: -3

li 
  list-style: none

a 
  text-decoration: none

ul, form
  display: flex
  align-items: center
  justify-content: center
  gap: 1rem

form
  flex-direction: column

button 
  background-color: $COLORS-GRAYSCALE-1
  color: $COLORS-GRAYSCALE-2
  padding: .4rem .95rem
  border: none
  margin: 0 .25rem
  cursor: pointer
  border-radius: 8px
  outline: none

button:hover, button:focus 
  background-color: $COLORS-DARKER

button:active
  background-color: $COLORS-DARKEST

input
  height: 1.75rem
  margin: 0 .5rem
  width: 12rem
  padding: 4px
  border-radius: 6px

.error, .success
  font-weight: bold

.error
  color: red

.success
  color: green

.prompt
  margin: .5rem 0 1.2rem 0

nav a
  font-size: 1.25rem

.logo
  font-size: 1.1rem

.MobileNav
  display: none

@media(max-width:1300px)
  nav
    transform: translateX(5.5rem)

@media(max-width:850px)
  header
    .logo, nav a
      font-size: 1rem
    .NavLogin a, .NavLogin button
      font-size: .75rem
    .NavLogin
      transform: translateY(-.15rem)

@media(max-width:750px)
  header
    .logo, nav a
      font-size: .9rem
    .NavLogin a, .NavLogin button
      font-size: .7rem

@media(max-width:700px)
  nav
    display: none

  header .logo
    transform: translate(3.75rem, -.1575rem)
    font-size: 1.175rem
  
  .MobileNav
    display: block

  .NavLogin
    position: absolute
    top: 1.715rem
    right: 1.715rem

  header
    position: sticky
    
  footer
    font-size: .85rem

@media(max-width:600px)
  header


  footer
    font-size: .7rem

@media(max-width:500px)
  footer
    font-size: .6rem